section.container.content
    .row
        .col-lg-4.flex-last.flex-md-unordered
            .chat 
                .header Чат трансляции(90 человек):
                .message
                    .show-message
                        .show-message-container 

                            .mess
                                .left
                                    .ava(style='background-image: url(./img/avatars/homer.jpg);')
                                .right
                                    .name Hommer S. 
                                    .text Когда будут ность хот-доги?
                            .mess
                                .left
                                    .ava(style='background-image: url(./img/avatars/bart.jpg);')
                                .right
                                    .name Bart S. 
                                    .text Их уже носили!!! )))
                            .mess
                                .left
                                    .ava(style='background-image: url(./img/avatars/homer.jpg);')
                                .right
                                    .name Hommer S. 
                                    .text Оуууу.... (((
                            .mess
                                .left
                                    .ava(style='background-image: url(./img/avatars/lisa.png);')
                                .right
                                    .name Lisa S. 
                                    .text Папа, мы смотрим телеигру!Туту нет хот-догов!
                            .mess
                                .left
                                    .ava(style='background-image: url(./img/avatars/homer.jpg);')
                                .right
                                    .name Hommer S. 
                                    .text Оуууу.... (((
                    form.add-message
                        button
                            .smilies-container
                                img(src="./img/smilies/cool.svg")
                                img(src="./img/smilies/crying.svg")
                                img(src="./img/smilies/girl.svg")
                                img(src="./img/smilies/happy.svg")
                                img(src="./img/smilies/kiss.svg")
                                img(src="./img/smilies/muted.svg")
                                img(src="./img/smilies/nervous.svg")
                                img(src="./img/smilies/sad.svg")
                                img(src="./img/smilies/sick.svg")
                                img(src="./img/smilies/surprised.svg")
                                img(src="./img/smilies/tongue.svg")
                                img(src="./img/smilies/wink.svg")
                        input(type="text")
                        .length 0/200
                        input(type="submit", value="")
        .col-lg-8.flex-first.flex-md-unordered
            .video
                .info-block
                    .logo(style='background-image: url(./img/rea-logo.png);')
                    .name Real
                    .count 5 - 7
                    .name Днамо
                    .logo(style='background-image: url(./img/dinamo-logo.png);')
                .line
                .controls
                    .left
                        .play
                        .sound
                        .on-air
                            span.circle
                            | В ЭФИРЕ
                    .right
                        .logo
                        .hd HD
                        .fullScreen