section.container.content
    .row
        .col-lg-4.flex-last.flex-md-unordered
            .chat 
                .header Чат трансляции(90 человек):
                .message
                    .show-message
                        .show-message-container 111
                    form.add-message
                        button
                        input(type="text")
                        .length 0/200
                        input(type="submit", value="")
        .col-lg-8.flex-first.flex-md-unordered
            .video
                .line
                .controls
                    .left
                        .play
                        .sound
                        .on-air
                            span.circle
                            | В ЭФИРЕ
                    .right
                        .logo
                        .hd HD
                        .fullScreen