footer.container
    .row
        .col-md-12
            .bg
                img(src="./img/logo.png").logo
        .col-md-12
            .bg
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Бадминтон
                    li 
                        a(href="#") Баскетбол
                    li 
                        a(href="#") Бейсбол
                    li 
                        a(href="#") Бокс
                    li 
                        a(href="#") Борьба
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Велоспорт
                    li 
                        a(href="#") Водное поло
                    li 
                        a(href="#") Волейбол
                    li 
                        a(href="#") Гандбол
                    li 
                        a(href="#") Гольф
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Гребля на каноэ
                    li 
                        a(href="#") Гребной слалом
                    li 
                        a(href="#") Гребной спорт
                    li 
                        a(href="#") Дзюдо
                    li 
                        a(href="#") Карате
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Волейбол
                    li 
                        a(href="#") Прыжки в воду
                    li 
                        a(href="#") Прыжки на батуте
                    li 
                        a(href="#") Регби
                    li 
                        a(href="#") Серфинг
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Синхронное плавание
                    li 
                        a(href="#") Скалолазание
                    li 
                        a(href="#") Скейтбординг
                    li 
                        a(href="#") Современное пятиборье
                    li 
                        a(href="#") Софтбол
                ul.colum.col-lg-2.col-md-4.col-sm-6
                    li 
                        a(href="#") Спортивная гимнастика
                    li 
                        a(href="#") Стрельба
                    li 
                        a(href="#") Стрельба из лука
                    li 
                        a(href="#") Теннис
                    li 
                        a(href="#") Триатлон
        .col-md-12
            .bg
                hr
        .col-md-12
            .bg
                nav
                    a(href="#") Главная
                    a(href="#") Новости
                    a(href="#") Рассписание
                    a(href="#") Каталог
                    a(href="#") Регистрация
                    a(href="#") Вход