header.container
    .row
        .header-el
            .logo
                a(href="#")
                    img(src="./img/logo.png", alt="", srcset="")
            nav
                a(href="#") Регистрация
                a(href="#") Войти
            .mob-menu
                img(src="./img/hamburger-icon.svg")
