<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title SportLife
    body

        include ./components/header.jade
        include ./components/content.jade
        include ./components/timetable.jade
        include ./components/footer.jade
        include ./components/modal.jade
        
        script(src="script.js")